.page{
    justify-content: center;
    align-items: center;
    width: 100%;
}
.word{
    justify-content: center;
    text-align: center;
    align-items: center;
}
.row, g-3{
    justify-content: center;
    align-items: center;
}
.img{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img p{
    color: rgb(41, 39, 39);
    margin-top: 50px;
}
h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
}